<h1>Listing tenants</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>House</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Birthdate</th>
      <th>Entered</th>
      <th>Exited</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.user_id %></td>
        <td><%= tenant.house_id %></td>
        <td><%= tenant.name %></td>
        <td><%= tenant.gender %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.birthdate %></td>
        <td><%= tenant.entered %></td>
        <td><%= tenant.exited %></td>
        <td><%= link_to 'Show', tenant %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenant', new_tenant_path %>
