<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tenant.user_id %>
</p>

<p>
  <strong>House:</strong>
  <%= @tenant.house_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @tenant.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @tenant.birthdate %>
</p>

<p>
  <strong>Entered:</strong>
  <%= @tenant.entered %>
</p>

<p>
  <strong>Exited:</strong>
  <%= @tenant.exited %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
