<div class="dashboard_container">
  <div class="houses_container" onclick="goTo('<%= houses_path %>')">
    <%= t('.houses') %>
    <img src="http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/128/yellow-home-icon.png" alt="">
    <!-- http://www.iconarchive.com/search?q=house&page=2 -->
  </div>
  <div class="bills_container" onclick="goTo('<%= bills_path %>');">
    <%= t('.bills') %>
    <img src="https://cdn4.iconfinder.com/data/icons/finance-3/512/14-512.png" alt="">
  </div>
  <div class="tenants_container" onclick="goTo('<%= tenants_path %>')">
    <%= t('.tenants') %>
    <img src="http://inventorieshouse.com/images/icon-assign-tenant.png" alt="">
  </div>
</div>

<span>Total por pagar:</span>
<span>Total por receber</span>